<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Abfahrten</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    {% if all_departures %}
        {% for station, departures in all_departures.items() %}
            <h2>Abfahrten von {{ station }}</h2>
            <table>
                <tr>
                    <th>Plan-Zeit</th>
                    <th>Ist-Zeit</th>
                    <th>Linie</th>
                    <th>Ziel</th>
                    <th>Betreiber</th>
                </tr>
                {% for departure in departures %}
                <tr>
                    <td>{{ departure[0] }}</td>
                    <td class="{% if departure[0] != departure[1] %}red{% endif %}">{{ departure[1] }}</td>
                    <td>{{ departure[2] }}</td>
                    <td>{{ departure[3] }}</td>
                    <td>{{ departure[4] }}</td>
                </tr>
                {% endfor %}
            </table>
        {% endfor %}
    {% endif %}
</body>
</html>
